{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/prefer-es6-class": [0, "never"],
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off"
  }
}
