{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/prefer-es6-class": [0, "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-unresolved": 0
  }
}
