import React from 'react'
import PropTypes from 'prop-types'

export class Preview extends React.Component {
  static propTypes = {
    value: PropTypes.node.isRequired
  }

  render () {
    return <div>{this.props.value}</div>
  }
}
