import React from 'react';
import PropTypes from 'prop-types';

const Preview = props => (props.value ? <div>{props.value}</div> : '');

Preview.propTypes = {
  value: PropTypes.node.isRequired,
};

export default Preview;
